@model BuildInspect.Models.ViewModel.AssessmentWetAreaWaterTightnessTestTransMasterViewModel
@{
    ViewBag.Title = "Wet Area Water Tightness Test Other Result";
}
<form id="AddWetAreaWTTOtherResultForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div style="width: 130px; float: left;">
                        6) Others please specify:
                    </div>
                    @Html.TextAreaFor(model => Model.Other_Result, new { @id = "SaveOther_Result", @title = "Enter Other Remarks", @placeholder = "Remarks", @style = "width:250px" })
                    @Html.HiddenFor(model => Model.AssessmentWAWTTID, new { @id = "OthersAssessmentWAWTTID" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-wide btn-success" id="btnSubmitSaveOtherResult" onclick="SaveWetAreaWaterTightnessTestOtherResult()" title="Save"><i class="ti-save"></i>&nbsp;Save Other Result</button>
    </div>
</form>