<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <!--favicon-->
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <!-- notifications css -->
    <link rel="stylesheet" href="~/Content/assets/plugins/notifications/css/lobibox.min.css" />
    <!--Lightbox Css-->
    <link href="~/Content/assets/plugins/fancybox/css/jquery.fancybox.min.css" rel="stylesheet" type="text/css" />
    <!-- simplebar CSS-->
    <link href="~/Content/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--Data Tables -->
    <link href="~/Content/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <!-- animate CSS-->
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/Content/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/Content/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/Content/assets/css/app-style.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    @RenderSection("head", required: false)
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<body>
    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>
    <!-- end loader -->
    @RenderBody()
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/Content/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/Content/assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="~/Content/assets/js/app-script.js"></script>
    <!--Lightbox-->
    <script src="~/Content/assets/plugins/fancybox/js/jquery.fancybox.min.js"></script>

    <!--Data Tables js-->
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/jszip.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>
    <script src="~/Content/assets/plugins/alerts-boxes/js/sweetalert.min.js"></script>
    <script src="~/Content/assets/plugins/alerts-boxes/js/sweet-alert-script.js"></script>
    <!--Form Validatin Script-->
    <script src="~/Content/assets/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <!--notification js -->
    <script src="~/Content/assets/plugins/notifications/js/lobibox.min.js"></script>
    <script src="~/Content/assets/plugins/notifications/js/notifications.min.js"></script>

    <script src="~/Content/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/Content/assets/plugins/jSignature/jSignature.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/Dashboard.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>